
/* 
    This is fix when using alignfull class since this is causing horisontal scrolling
*/
main {
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

/* 
    Sticky footer
*/
.wp-site-blocks {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Remove block gap for one or more elements */
.no-block-gap-for-children > *,
.no-block-gap { 
    margin-block-start: 0!important;
    margin-block-end: 0!important;
 } 