<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"page-block-content"} -->
<main class="wp-block-group page-block-content">

	<!-- wp:group {"className":"container my-8 mx-auto"} -->
	<div class="wp-block-group container mx-auto my-8 ">

		<!-- wp:group {"className":"pb-10"} -->
		<div class="wp-block-group pb-10"> 
			<!-- wp:query-title {"type":"archive", "showPrefix":false} /-->
			<!-- wp:term-description {"type":"archive"} /-->
		</div>
		<!-- /wp:group -->
		
		<!-- wp:pattern {"slug":"falcontwstarter/posts-3-columns"} /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->