<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"page-block-content"} -->
<main class="wp-block-group page-block-content">

	<!-- wp:group {"tagName":"article", "className":"container my-8 mx-auto"} -->
	<article class="wp-block-group container my-8 mx-auto">

		<!-- wp:post-title {"level":1} /-->

		<!-- wp:post-content {"lock":{"move":false,"remove":true}} /-->
	</article>
	<!-- /wp:group -->
	
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->